#
# App:         WeatherFlow Tempest UDP Relay
# Author:      Mirco Caramori
# Copyright:   (c) 2020 Mirco Caramori
# Repository:  https://github.com/mircolino/tempest
#
# Description: repository git attributes
#

* text=auto encoding=UTF-8
